<!DOCTYPE html>
<html lang="en">

<head>
	<title>ROBOTARM CONTRLOER</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<style>
		body {
			font-family: Monospace;
			background-color: #ffffff;
			margin: 0px;
			overflow: hidden;
		}

		#info {
			color: #fff;
			position: absolute;
			top: 10px;
			width: 100%;
			text-align: center;
			z-index: 100;
			display: block;

		}
		#control{
			position:static;
			display:inline-block;
		}
		#blockDiagram{
			position:static;
			display:block;
			background-color: aliceblue;
		}

		a {
			color: skyblue
		}

		.button {
			background: #999;
			color: #eee;
			padding: 0.2em 0.5em;
			cursor: pointer
		}

		.highlight {
			background: orange;
			color: #fff;
		}

		span {
			display: inline-block;
			width: 60px;
			text-align: center;
		}
		.block{
			display:inline-block;
			background-color: aquamarine;
			width:30px;
			text-align: center;
		}

	</style>
</head>

<body>
	<div id="info">
		ROBOTARM CONTROLER BY HYEOKJU JANG
	</div>
	<div id="container"></div>
	<div id="control">
		<input type="range" min="-130" max="130" value="0" class="slider" id="m1">
		<input type="range" min="-130" max="130" value="0" class="slider" id="m0">
		<input type="range" min="-130" max="130" value="0" class="slider" id="m2">
		<input type="range" min="-130" max="130" value="0" class="slider" id="m3">
		<input type="range" min="-130" max="130" value="0" class="slider" id="m4">
		<input type="range" min="-130" max="130" value="0" class="slider" id="m5">
		<button id="createBlockButton">CreateBlock</button>
	</div>
	<div><button id="loadButton">Load!</button></div>
	<div id="blockDiagram"></div>
	<div>
		<button id="moveBlockUp">GoUp!</button>
		<button id="moveBlockDown">GoDown!</button>
		<button id="deleteBlock">Delete!</button>
		<button id="saveButton">Save!</button>
		<button id="testButton">test!</button>
	</div>
	<div>
		<input type="button" onclick="xyz_move_up();" id="up" value="up">
		<input type="button" onclick="xyz_move_down();" id="down" value="down">
		<input type="button" onclick="xyz_move_left();" id="left" value="left">
		<input type="button" onclick="xyz_move_right();" id="right" value="right">
		<input type="button" onclick="xyz_move_forward();" id="forward" value="forward">
		<input type="button" onclick="xyz_move_backward();" id="backward" value="backward">
	</div>
	<div><button id="moveButton">GO!</button></div>

	<script src="{{ url_for('static', filename='js/three.js') }}"></script>

	<script src="{{ url_for('static', filename='js/STLLoader.js') }}"></script>

	<script src="{{ url_for('static', filename='js/WebGL.js') }}"></script>

	<script src="{{ url_for('static', filename='js/OrbitControls.js') }}"></script>

	<script>
		// GUI 관련 script
		if (WEBGL.isWebGLAvailable() === false) {

			document.body.appendChild(WEBGL.getWebGLErrorMessage());

		}

		var container, stats;

		var camera, cameraTarget, scene, renderer;

		var parts = [];
		var geomet = [];
		var allReady = [];

		let C_M4 = 0; //current m4
		let C_M3 = 0;
		let r1 = 231.5;
		let r2 = 221.1;
		let r3 = 223;
		let r3_ = 127.5;
		let r4 = 70;

		let l0 = [0, 0, 0];
		let l1 = [0, r1, 0];
		let l2 = [0, r2, 0];
		let l3 = [0, r3, 0];
		let l3_ = [0, r3_, 0]
		let l4 = [0, r4, 0];
		let p0 = l0;
		let p1 = addByElement(l0, l1);
		let p2 = addByElement(p1, l2);
		let p2_ = addByElement(p2, l3_);
		let p3 = addByElement(p2, l3);
		let p4 = addByElement(p3, l4);
		let t1 = 0;
		let t2 = 0;
		let t3 = 0;
		let m = [0, 0, 0, 0, 0, 0];

		init();
		animate();


		function init() {

			container = document.getElementById("container")

			camera = new THREE.PerspectiveCamera(35, window.innerWidth / (window.innerHeight - 300), 1, 10000);
			camera.position.set(0, 670, 1400);

			cameraTarget = new THREE.Vector3(0, 400, 0);

			scene = new THREE.Scene();
			scene.background = new THREE.Color(0xffffff);


			// Ground

			var plane = new THREE.Mesh(
				new THREE.PlaneBufferGeometry(40000, 40000),
				new THREE.MeshPhongMaterial({
					color: 0x999999,
					specular: 0xffffff
				})
			);
			plane.rotation.x = -Math.PI / 2;
			plane.position.y = 0;
			scene.add(plane);

			plane.receiveShadow = true;


			// ASCII file
			var material = new THREE.MeshPhongMaterial({
				color: 0xAAAAAA,
				specular: 0x111111,
				shininess: 200
			});
			var loader = new THREE.STLLoader();
			loader.load("{{url_for('static',filename='STL/base.stl')}}", function (geometry) {
				geomet[0] = geometry;
				geometry.center();
				var mesh = new THREE.Mesh(geometry, material);
				parts[0] = mesh;
				mesh.position.set(0, 65 / 2, 0);

				mesh.castShadow = true;
				mesh.receiveShadow = true;

				scene.add(mesh);
				allReady.push(0);
			});

			loader.load("{{url_for('static',filename='STL/sholder.stl')}}", function (geometry) {
				geomet[1] = geometry;
				geometry.center();
				var mesh = new THREE.Mesh(geometry, material);
				parts[1] = mesh;
				mesh.position.set(0, 65, 0);
				geometry.translate(0, 222.5 / 2, 0);
				mesh.rotation.set(0, 0, 0);
				mesh.scale.set(1, 1, 1);

				mesh.castShadow = true;
				mesh.receiveShadow = true;

				scene.add(mesh);
				allReady.push(0);
			});

			loader.load("{{url_for('static',filename='STL/arm.stl')}}", function (geometry) {
				geomet[2] = geometry;
				geometry.center();
				var mesh = new THREE.Mesh(geometry, material);
				parts[2] = mesh;
				mesh.position.set(0, 231.5, 0);
				geometry.translate(0, 101.1, 0);
				mesh.rotation.set(0, 0, 0);
				mesh.scale.set(1, 1, 1);

				mesh.castShadow = true;
				mesh.receiveShadow = true;

				scene.add(mesh);
				allReady.push(0);
			});
			loader.load("{{url_for('static',filename='STL/arm2.stl')}}", function (geometry) {
				geomet[3] = geometry;
				geometry.center();
				var mesh = new THREE.Mesh(geometry, material);
				parts[3] = mesh;
				mesh.position.set(0, 452.6, 0);
				geometry.translate(0, 36.3, 0);
				mesh.rotation.set(0, 0, 0);
				mesh.scale.set(1, 1, 1);

				mesh.castShadow = true;
				mesh.receiveShadow = true;

				scene.add(mesh);
				allReady.push(0);
			});
			loader.load("{{url_for('static',filename='STL/wrist1.stl')}}", function (geometry) {
				geomet[4] = geometry;
				geometry.center();
				var mesh = new THREE.Mesh(geometry, material);
				parts[4] = mesh;
				mesh.position.set(0, 452.6, 0);
				geometry.translate(0, 65, 0);
				mesh.rotation.set(0, 0, 0);
				mesh.scale.set(1, 1, 1);

				mesh.castShadow = true;
				mesh.receiveShadow = true;

				scene.add(mesh);
				allReady.push(0);
			});
			loader.load("{{url_for('static',filename='STL/wrist2.stl')}}", function (geometry) {
				geomet[5] = geometry;
				geometry.center();
				var mesh = new THREE.Mesh(geometry, material);
				parts[5] = mesh;
				mesh.position.set(0, 675.6, 0);
				geometry.translate(0, 3, 0);
				mesh.rotation.set(0, 0, 0);
				mesh.scale.set(1, 1, 1);

				mesh.castShadow = true;
				mesh.receiveShadow = true;

				scene.add(mesh);
				allReady.push(0);
			});
			// Lights

			scene.add(new THREE.HemisphereLight(0x336bc0, 0x336bc0));

			addShadowedLight(1, 1, 1, 0xffffff, 1.35);
			addShadowedLight(0.5, 1, -1, 0xffaa00, 1);
			// renderer

			renderer = new THREE.WebGLRenderer({
				antialias: true
			});
			renderer.setPixelRatio(window.devicePixelRatio);
			renderer.setSize(window.innerWidth, window.innerHeight - 300);

			renderer.gammaInput = true;
			renderer.gammaOutput = true;

			renderer.shadowMap.enabled = true;
			var controls = new THREE.OrbitControls(camera, renderer.domElement);
			container.appendChild(renderer.domElement);



			//

			window.addEventListener('resize', onWindowResize, false);

		}
		var loader = new THREE.STLLoader();

		function addShadowedLight(x, y, z, color, intensity) {

			var directionalLight = new THREE.DirectionalLight(color, intensity);
			directionalLight.position.set(x, y, z);
			scene.add(directionalLight);

			directionalLight.castShadow = true;

			var d = 1;
			directionalLight.shadow.camera.left = -d;
			directionalLight.shadow.camera.right = d;
			directionalLight.shadow.camera.top = d;
			directionalLight.shadow.camera.bottom = -d;

			directionalLight.shadow.camera.near = 1;
			directionalLight.shadow.camera.far = 4;

			directionalLight.shadow.mapSize.width = 1024;
			directionalLight.shadow.mapSize.height = 1024;

			directionalLight.shadow.bias = -0.002;

		}

		function onWindowResize() {

			camera.aspect = window.innerWidth / (window.innerHeight - 300);
			camera.updateProjectionMatrix();

			renderer.setSize(window.innerWidth, window.innerHeight - 300);

		}

		function getRangeValue() {
			m[0] = document.getElementById("m0").value * Math.PI / 180;
			m[1] = document.getElementById("m1").value * Math.PI / 180;
			m[2] = document.getElementById("m2").value * Math.PI / 180;
			m[3] = document.getElementById("m3").value * Math.PI / 180;
			m[4] = document.getElementById("m4").value * Math.PI / 180;
			m[5] = document.getElementById("m5").value * Math.PI / 180;
		}

		function setPosition() {
			if (allReady.length == 6) {
				l2 = [Math.sin(m[0]) * Math.sin(m[1]) * r2, Math.cos(m[0]) * r2, Math.sin(m[0]) * Math.cos(m[1]) * r2];
				l3_ = [Math.sin(m[0] + m[2]) * Math.sin(m[1]) * r3_, Math.cos(m[0] + m[2]) * r3_, Math.sin(m[0] + m[2]) * Math.cos(
					m[1]) * r3_]
				l3 = [Math.sin(m[0] + m[2]) * Math.sin(m[1]) * r3, Math.cos(m[0] + m[2]) * r3, Math.sin(m[0] + m[2]) * Math.cos(m[1]) *
					r3
				]
				var axisX = new THREE.Vector3(Math.cos(m[3]), 0, Math.sin(-m[3])).normalize();
				var axisY = new THREE.Vector3(0, 1, 0).normalize();

				let p0 = l0;
				let p1 = addByElement(l0, l1);
				let p2 = addByElement(p1, l2);
				let p2_ = addByElement(p2, l3_);
				let p3 = addByElement(p2, l3);
				let p4 = addByElement(p3, l4);

				parts[0].rotation.set(0, m[1], 0, "YXZ");
				parts[1].rotation.set(0, m[1], 0, "YXZ");
				parts[2].rotation.set(m[0], m[1], 0, "YXZ");
				parts[3].rotation.set(m[0] + m[2], m[1], 0, "YXZ");
				parts[4].rotation.set(m[0] + m[2], m[1], 0, "YXZ");
				parts[5].rotation.set(m[0] + m[2] + t1, m[1] + t2, t3, "YXZ");

				parts[5].rotateOnAxis(axisX, m[4]);
				parts[5].rotateOnAxis(axisY, m[3])

				geomet[4].rotateY(m[3] - C_M3);

				C_M3 = m[3];
				C_M4 = m[4];

				parts[3].position.set(p2[0], p2[1], p2[2]);
				parts[4].position.set(p2_[0], p2_[1], p2_[2]);
				parts[5].position.set(p3[0], p3[1], p3[2]);
			}
		}

		function addByElement(a, b) {
			return [a[0] + b[0], a[1] + b[1], a[2] + b[2]]
		}

		function animate() {
			getRangeValue();

			setPosition();

			requestAnimationFrame(animate);

			render();

		}

		function render() {


			camera.lookAt(cameraTarget);

			renderer.render(scene, camera);

		}

		//xyz 버튼 조작
		//해 값들을 미리 찾음
		var m0_arr = new Array(350);
		var m2_arr = new Array(350);
		for(var i=0;i<m0_arr.length;i++){
			m0_arr[i]=i/m0_arr.length*100 + 20;
			m2_arr[i]=i/m2_arr.length*260 - 130;
		}
		let xyz_array = []
		let m0_m2 = []
		m0_arr.forEach(function(m0_v){
			m2_arr.forEach(function(m2_v){
				xyz_array.push([r2*Math.sin(m0_v*Math.PI/180)+r3*Math.sin(m0_v*Math.PI/180+m2_v*Math.PI/180),r2*Math.cos(m0_v*Math.PI/180)+r3*Math.cos(m0_v*Math.PI/180+m2_v*Math.PI/180)]);
				m0_m2.push([m0_v,m2_v])
			});
		});

		//find nearest로 m0 m2값을 찾는다.
		function find_nearest(xyz_array,x,y){
			var distance=[]
			for(var i=0;i<xyz_array.length;i++){
				distance.push((xyz_array[i][0]-x)*(xyz_array[i][0]-x) + (xyz_array[i][1]-y)*(xyz_array[i][1]-y));
			}
			return distance.indexOf(Math.min.apply(null,distance));
		}
		function calc_xy(){
			m0_v=document.getElementById("m0").value;
			m2_v=document.getElementById("m2").value;
			return [r2*Math.sin(m0_v*Math.PI/180)+r3*Math.sin(m0_v*Math.PI/180+m2_v*Math.PI/180),r2*Math.cos(m0_v*Math.PI/180)+r3*Math.cos(m0_v*Math.PI/180+m2_v*Math.PI/180)];
		}
		function xyz_move_up(draw=0){
			var [c_x,c_y]=calc_xy();
			var [m0_v, m2_v] = m0_m2[find_nearest(xyz_array,c_x,c_y+3)]
			document.getElementById("m0").value = m0_v;
			document.getElementById("m2").value = m2_v;
			if(draw == 0){
				document.getElementById("m4").value = -m0_v-m2_v;
			}else{
				if(m2_v > 0){
					document.getElementById("m4").value = -m0_v-m2_v -90;
				}else{
					document.getElementById("m4").value = -m0_v-m2_v +90;
				}
			}
		}
		function xyz_move_down(draw=0){
			var [c_x,c_y]=calc_xy();
			var [m0_v, m2_v] = m0_m2[find_nearest(xyz_array,c_x,c_y-3)]
			document.getElementById("m0").value = m0_v;
			document.getElementById("m2").value = m2_v;
			if(draw == 0){
				document.getElementById("m4").value = -m0_v-m2_v;
			}else{
				if(m2_v > 0){
					document.getElementById("m4").value = -m0_v-m2_v -90;
				}else{
					document.getElementById("m4").value = -m0_v-m2_v +90;
				}
			}
		}
		function xyz_move_left(draw=0){
			var [c_x,c_y]=calc_xy();
			var [m0_v, m2_v] = m0_m2[find_nearest(xyz_array,c_x-3,c_y)]
			document.getElementById("m0").value = m0_v;
			document.getElementById("m2").value = m2_v;
			if(draw == 0){
				document.getElementById("m4").value = -m0_v-m2_v;
			}else{
				if(m2_v > 0){
					document.getElementById("m4").value = -m0_v-m2_v -90;
				}else{
					document.getElementById("m4").value = -m0_v-m2_v +90;
				}
			}
		}
		function xyz_move_right(draw=0){
			var [c_x,c_y]=calc_xy();
			var [m0_v, m2_v] = m0_m2[find_nearest(xyz_array,c_x+3,c_y)]
			document.getElementById("m0").value = m0_v;
			document.getElementById("m2").value = m2_v;
			if(draw == 0){
				document.getElementById("m4").value = -m0_v-m2_v;
			}else{
				if(m2_v > 0){
					document.getElementById("m4").value = -m0_v-m2_v -90;
				}else{
					document.getElementById("m4").value = -m0_v-m2_v +90;
				}
			}
		}
		function xyz_move_forward(){
			document.getElementById("m1").value = parseInt(document.getElementById("m1").value) + 1;
		}
		function xyz_move_backward(){
			document.getElementById("m1").value = parseInt(document.getElementById("m1").value) - 1;
		}
		function xyz_move_random(moved=1,size=1){
			if(moved==0){
				var move=0
				if(Math.random()>0.5){
					for(var i=0;i<4*size;i++)
						xyz_move_forward()
					move+=1
				}
				if(Math.random()>0.5){
					for(var i=0;i<4*size;i++)
						xyz_move_backward()
					move+=10
				}
				if(Math.random()>0.5){
					for(var i=0;i<4*size;i++)
						xyz_move_left()
					move+=100
				}
				if(Math.random()>0.5){
					for(var i=0;i<4*size;i++)
						xyz_move_right()
					move+=1000
				}
				return move
			}
			else{
				if(moved-1000>=0){
					moved-=1000
					for(var i=0;i<4*size;i++)
						xyz_move_right()
				}
				if(moved-100>=0){
					moved-=100
					for(var i=0;i<4*size;i++)
						xyz_move_left()
				}
				if(moved-10>=0){
					moved-=10
					for(var i=0;i<4*size;i++)
						xyz_move_backward()
				}
				if(moved-1>=0){
					moved-=1
					for(var i=0;i<4*size;i++)
						xyz_move_forward()
				}
			}

		}

	</script>
	<script>
		//움직이는 request와 이벤트리스터 등록
		var sequences = new Array();
		var selected_number = 0; // 0은 선택 안된 상황 1부터 시작
		(function () {
			var httpRequest;
			//이벤트 리스너 등록
			document.getElementById("moveButton").addEventListener('click', moveRequest);
			document.getElementById("createBlockButton").addEventListener('click', function(){createBlock('currentData');},false); // 지금 모터 파라미터로 새로운 블럭을 만듦
			document.getElementById("saveButton").addEventListener('click', saveBlock);
			document.getElementById("loadButton").addEventListener('click', function(){loadBlock(createBlock);},false);
			document.getElementById("moveBlockUp").addEventListener('click', moveBlockUp);
			document.getElementById("moveBlockDown").addEventListener('click', moveBlockDown);
			document.getElementById("deleteBlock").addEventListener('click', deleteBlock);
			document.getElementById("testButton").addEventListener('click',  function(){makeZolaMan(4);},false);

			function moveRequest() {
				httpRequest = new XMLHttpRequest();
				var temp = sequences;
				parameters = JSON.stringify(sequences);
				if (!httpRequest) {
					alert('XMLHTTP 인스턴스를 만들 수가 없어요 ㅠㅠ');
					return false;
				}
				httpRequest.onreadystatechange = alertContents;
				httpRequest.open('POST', 'move');

				httpRequest.send(parameters);
			}

			function alertContents() {
				if (httpRequest.readyState === XMLHttpRequest.DONE) {
					if (httpRequest.status === 200) {
						alert(httpRequest.responseText);
					} else {
						alert('request에 뭔가 문제가 있어요.');
					}
				}
			}
			//Block 컨트롤 관련 functions
			function comebackZola(seq){
				document.getElementById("m0").value = seq.m0;
				document.getElementById("m1").value = seq.m1;
				document.getElementById("m2").value = seq.m2;
				document.getElementById("m3").value = seq.m3;
				document.getElementById("m4").value = seq.m4;
				document.getElementById("m5").value = seq.m5;
			}
			function makeZolaMan(size=1){
				var temp_seq;
				// 먼저 그림을 그릴 베이스 포인트로 로봇팔을 가져감 붓은 그릴 곳으로부터 4틱 떨어져있음.
				// 그리고 생성
				createBlock('currentData')
				temp_seq = sequences[sequences.length-1] // 머리 찍기 전 위로 돌아오는 시퀀스 세이브
				for(var i=0;i<4*size;i++) // 머리 점찍고
					xyz_move_up()
				createBlock('currentData')
				//for(var i=0;i<4*size;i++) // 다시 내리고
				//	xyz_move_down()
				comebackZola(temp_seq)
				createBlock('currentData')
				for(var i=0;i<2*size;i++) // 몸통쪽으로 내려와서
					xyz_move_left()
				createBlock('currentData')
				temp_seq = sequences[sequences.length-1] //몸통에서 시퀀스 세이브
				for(var i=0;i<4*size;i++) // 점 찍고
					xyz_move_up()
				createBlock('currentData')
				for(var i=0;i<4*size;i++) // 왼쪽 팔 그리고
					xyz_move_forward()
				var rand = xyz_move_random(0,size) // 랜덤 무브
				createBlock('currentData')
				for(var i=0;i<4*size;i++) // 붓 내리기
					xyz_move_down()
				//xyz_move_random(rand,size) // 랜덤도 돌아오기
				//createBlock('currentData')
				//for(var i=0;i<4*size;i++)  // 다시 몸통으로 컴백
				//	xyz_move_backward()
				comebackZola(temp_seq)
				createBlock('currentData')
				for(var i=0;i<4*size;i++) // 몸통 점 찍고
					xyz_move_up()
				createBlock('currentData')
				for(var i=0;i<4*size;i++)  // 오른쪽 팔 그리기
					xyz_move_backward()
				rand = xyz_move_random(0,size) // 랜덤 무브
				createBlock('currentData')
				for(var i=0;i<4*size;i++) // 붓 내리기
					xyz_move_down()
				//xyz_move_random(rand,size) // 랜덤도 돌아오기
				//createBlock('currentData')
				//for(var i=0;i<4*size;i++) // 몸통으로 돌아와서
				//	xyz_move_forward()
				comebackZola(temp_seq)
				createBlock('currentData')
				for(var i=0;i<4*size;i++) // 몸통 점 찍고
					xyz_move_up()
				createBlock('currentData')
				for(var i=0;i<2*size;i++) // 왼쪽다리 무릎그리기
					xyz_move_left()
				for(var i=0;i<2*size;i++)
					xyz_move_forward()
				rand = xyz_move_random(0,size)
				createBlock('currentData')
				for(var i=0;i<2*size;i++) // 왼쪽다리 발그리기
					xyz_move_left()
				for(var i=0;i<2*size;i++)
					xyz_move_forward()
				var rand1 = xyz_move_random(0,size)
				createBlock('currentData')
				for(var i=0;i<4*size;i++) // 붓 내리기
					xyz_move_down()
				createBlock('currentData')

				//xyz_move_random(rand,size) // 랜덤 돌리고
				//xyz_move_random(rand1,size)
				//for(var i=0;i<4*size;i++) // 몸통으로 돌아오기
				//	xyz_move_right()
				//for(var i=0;i<2*size;i++)
				//	xyz_move_backward()
				comebackZola(temp_seq)
				createBlock('currentData')
				for(var i=0;i<4*size;i++) // 몸통 점 찍고
					xyz_move_up()
				createBlock('currentData')
				for(var i=0;i<2*size;i++) // 오른쪽다리 무릎그리기
					xyz_move_left()
				for(var i=0;i<2*size;i++)
					xyz_move_backward()
				rand = xyz_move_random(0,size)
				createBlock('currentData')
				for(var i=0;i<2*size;i++) // 오른쪽다리 발그리기
					xyz_move_left()
				for(var i=0;i<2*size;i++)
					xyz_move_backward()
				var rand1 = xyz_move_random(0,size)
				createBlock('currentData')
				for(var i=0;i<4*size;i++) // 붓 내리기
					xyz_move_down()
				createBlock('currentData')
				//xyz_move_random(rand,size) // 랜덤 돌리고
				//xyz_move_random(rand1,size)
				//for(var i=0;i<4*size;i++) // 몸통으로 돌아오기
				//	xyz_move_right()
				//for(var i=0;i<2*size;i++)
				//	xyz_move_forward()
				for(var i=0;i<2*size;i++)
				createBlock('currentData')
				//끝
			}
			function createBlock(data) {
				console.log(data)
				getRangeValue()
				if (data == "noData") {
					return false;
				} else if (data == "currentData") {
					var temp = new Object();
					temp.m0 = m[0];
					temp.m1 = m[1];
					temp.m2 = m[2];
					temp.m3 = m[3];
					temp.m4 = m[4];
					temp.m5 = m[5];
					sequences.push(temp);
				} else {
					try {
						sequences = JSON.parse(data);
					} catch (e) {
						sequences = data;
					}
				}
				document.getElementById("blockDiagram").innerHTML = "";
				for (var i = 0; i < Object.keys(sequences).length; i++) {
					var title = document.createElement("h3");
					var div = document.createElement("div");
					var displaytitle = document.createTextNode((i + 1).toString());
					title.appendChild(displaytitle);
					div.appendChild(title);
					div.id = i+1;
					div.className = "block";
					div.onclick = selected;
					document.getElementById("blockDiagram").appendChild(div);
				}
			}

			function selected(){
				if(selected_number==parseInt(this.id)){
					for (var i = 1; i <= Object.keys(sequences).length; i++) {
						document.getElementById(i.toString()).style.backgroundColor="aquamarine";
					}
					selected_number = 0;
				}else{
					for (var i = 1; i <= Object.keys(sequences).length; i++) {
						if(i==this.id){
							document.getElementById(i.toString()).style.backgroundColor="orange";
							var currentBlockValue = sequences[i-1];
							document.getElementById("m0").value = currentBlockValue['m0']*180/Math.PI;
							document.getElementById("m1").value = currentBlockValue['m1']*180/Math.PI;
							document.getElementById("m2").value = currentBlockValue['m2']*180/Math.PI;
							document.getElementById("m3").value = currentBlockValue['m3']*180/Math.PI;
							document.getElementById("m4").value = currentBlockValue['m4']*180/Math.PI;
							document.getElementById("m5").value = currentBlockValue['m5']*180/Math.PI;
						}else{
							document.getElementById(i.toString()).style.backgroundColor="aquamarine";
						}
						selected_number = parseInt(this.id);
					}
				}
			}

			function moveBlockUp(){
				if(selected_number==0||selected_number==1){
					alert("블록 선택이 잘못되었습니다.");
				}else{
					var temp = sequences[selected_number-2];
					sequences[selected_number-2] = sequences[selected_number-1];
					sequences[selected_number-1] = temp;
					document.getElementById((selected_number).toString()).style.backgroundColor="aquamarine";
					document.getElementById((selected_number-1).toString()).style.backgroundColor="orange";
					selected_number-=1;
				}
			}

			function moveBlockDown(){
				if(selected_number==sequences.length||selected_number==0){
					alert("블록 선택이 잘못되었습니다.");
				}else{
					var temp = sequences[selected_number];
					sequences[selected_number] = sequences[selected_number-1];
					sequences[selected_number-1] = temp;
					document.getElementById((selected_number).toString()).style.backgroundColor="aquamarine";
					document.getElementById((selected_number+1).toString()).style.backgroundColor="orange";
					selected_number+=1;
				}
			}

			function loadBlock(callback) {
				blockDiv = document.getElementById("blockDiagram");
				var filename = prompt("불러올 이름을 입력해주세요.", "");

				var xhr = new XMLHttpRequest();
				xhr.onreadystatechange = function () {
					if (xhr.readyState == XMLHttpRequest.DONE) {
						console.log(xhr.response);
						console.log(xhr.responseText);
						callback(xhr.response);
					}
				}
				xhr.open('POST', 'load', true);
				xhr.onerror = function (e) {
					console.error(xhr.statusText);
				};
				xhr.send(filename);
			}

			function deleteBlock(){
				if(selected_number>sequences.length||selected_number==0){
					alert("블록 선택이 잘못되었습니다.");
				}else{
					delete sequences[selected_number-1];
					document.getElementById((selected_number).toString()).style.backgroundColor="aquamarine";
					selected_number=0;
					sequences = sequences.filter(Boolean);
					createBlock(sequences);
				}
			}

			function saveBlock() {
				var filename = prompt("동작 이름을 입력해주세요.", "");
				var temp = new Object();
				temp.motor = sequences;
				temp.name = filename;
				var saveParameters = JSON.stringify(temp);
				console.log(saveParameters);
				var httpRequest;

				httpRequest = new XMLHttpRequest();

				httpRequest.onreadystatechange = alertContents;
				httpRequest.open('POST', 'save');

				httpRequest.send(saveParameters);


				function alertContents() {
					if (httpRequest.readyState === XMLHttpRequest.DONE) {
						if (httpRequest.status === 200) {
							alert(httpRequest.responseText);
						} else {
							alert('request에 뭔가 문제가 있어요.');
						}
					}
				}
			}
		})();
	</script>
</body>

</html>
